altair                    
attrs                     
backports-zoneinfo        
blinker                            
cachetools                
certifi                   
charset-normalizer        
click                     
commonmark                
cycler                    
decorator                 
entrypoints               
et-xmlfile                
fonttools                 
gitdb                    
gitpython                
idna                     
importlib-metadata       
importlib-resources       
jinja2                   
jsonschema                
kiwisolver                                  
markupsafe               
matplotlib                
mpmath                                      
numpy                    
openpyxl                                     
packaging                 
pandas                    
pillow                    
pip                      
pkgutil-resolve-name     
protobuf                 
pyarrow                 
pydeck                   
pygments                 
pympler                   
pyparsing               
pyrsistent              
python                   
python-dateutil           
pytz                      
pytz-deprecation-shim     
readline                  
requests                 
rich                     
scipy                     
semver                    
setuptools                 
six                      
smmap                     
sqlite                    
streamlit                 
sympy                     
tk                        
toml                      
toolz                    
tornado                  
typing-extensions         
tzdata                    
tzlocal                   
urllib3                   
validators                
watchdog                  
wheel                     
xz                        
zipp                      
zlib                      
